In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/input/IMDB-Movie-Data.csv')

## Challenge 1

We want to create bins of movies according to the number of votes they've received. For that matter, we will create a new column named 'bin' which will tag every movie as follow:

From 0 to 999 ==> 1
From 1000 to 9999 ==> 2
From 10000 to 99999 ==> 3
From 100000 to 999999 ==> 4
More than 1000000 ==> 5

In [3]:
def bins(votes):
    if len(str(votes)) > 6:
        return 5
    elif len(str(votes)) <= 3:
        return 1
    else:
        return len(str(votes)) - 2

From 0 to 999 ==> 1
From 1000 to 9999 ==> 2
From 10000 to 99999 ==> 3
From 100000 to 999999 ==> 4
More than 1000000 ==> 5

In [7]:
df['bin'] = df.apply(lambda x: bins(x['Votes']), axis=1)

## Challenge 2. Using axis concept
We want to know how much is the revenue per minute for every movie.

In [8]:
df_revenue = df.groupby(['Title'])['Revenue (Millions)'].sum().sort_values(ascending = False)
df_revenue.head()

Title
Star Wars: Episode VII - The Force Awakens    936.63
Avatar                                        760.51
Jurassic World                                652.18
The Avengers                                  623.28
The Dark Knight                               533.32
Name: Revenue (Millions), dtype: float64

## Challenge 3. Using the lambda
We want to create a new ranking where we add 1 point if the genre is thriller but subtract 1 point if the genre is comedy.

In [9]:
df_nr = df.copy()

In [10]:
df_nr['Metascore'] = df_nr.apply(lambda x: x['Metascore'] + 1 if 'thriller' in x['Genre'].lower()\
                                 else x['Metascore'] - 1 if 'comedy' in x['Genre'].lower() else x['Metascore'], axis = 1)

In [11]:
df_nr.sort_values(['bin', 'Metascore'], ascending = [False, False], inplace = True)

df_nr.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,5
144,145,Django Unchained,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0,5
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,79.0,5
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,5
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,5

## Challenge 4. Now the real stuff
We want to know if the sum of the ASCII value of every character of the movie title divided by the number of votes retrieve a prime number...remember, prime numbers are integers.